<!-- <%= link_to "Logout", logout_path, method: :delete %> -->

<h1>Welcome, <%= current_user.username %>!</h1>

<h2>Playlist:</h2>
<% @songs.each do |song| %>

  <h3><%= link_to song.title, song_path(song) %></h3>

  <% song.tags.each do |tag| %>
    <p><%= tag.label %></p>
  <% end %>

  <%= link_to "Edit", edit_song_path(song) %>
  <%= link_to "Delete", song_path(song), method: :delete %>
<% end %>


<!-- <%= link_to "Crea  te a new song!", new_song_path %> -->
