<%= form_for(@song) do |f| %>
  <p>Title:</p>
  <p><%= f.text_field :title %></p>
  <p>Artist:</p>
  <p><%= f.text_field :artist %></p>
     <%= f.collection_check_boxes(:tag_ids, @tags, :id, :label) %>
  <%= f.button %>

<% end %>

<br></br>
<!-- <%= link_to "Back Home", songs_path %>  -->
